<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Estudiantes</span>
            <button class="btn btn-dark btn-lg" style="float: right;" routerLink="/create-estudiantes">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Carnet</th>
                    <th>Carrera</th>
                    <th>Teléfono</th>
                    <th>E-mail</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Camilo</td>
                    <td>Ordoñez</td>
                    <td>68495574</td>
                    <td>Sistemas Informáticos</td>
                    <td>98474114</td>
                    <td>cami12@gmail.com</td>
                    <td><i class="fas fa-edit fa-lg text-info" style="margin-right: 4px;"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Camilo</td>
                    <td>Ordoñez</td>
                    <td>68495574</td>
                    <td>Sistemas Informáticos</td>
                    <td>98474114</td>
                    <td>cami12@gmail.com</td>
                    <td><i class="fas fa-edit fa-lg text-info" style="margin-right: 4px;"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>Camilo</td>
                    <td>Ordoñez</td>
                    <td>68495574</td>
                    <td>Sistemas Informáticos</td>
                    <td>98474114</td>
                    <td>cami12@gmail.com</td>
                    <td><i class="fas fa-edit fa-lg text-info"style="margin-right: 4px;"></i>
                        <i class="far fa-trash-alt fa-lg text-danger"></i>
                    </td>
                  </tr>
                  
                </tbody>
              </table>
                         
        </div>
    </div>

</div>
